@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.principal {
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1rem;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal)
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1rem 0 2rem 0;
}

.container__caixa {
    margin: 0 6rem;
}

.segudario__imagem {
    width: 80%;
}

.segundario {
    align-items: center;
    margin: 0 10rem;
}

.descricao__titulo {
    font-family: var(--fonte-principal);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.35rem;
}

.descricao__texto {
    font-family: var(--fonte-principal);
    font-size: 1.05rem;
    color: var(--cinza-secundario);
}

.segundario__botao {
    display: inline-block;
    margin-top: 1rem;
}

.container__descricao {
    padding: 2rem;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5rem 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3rem;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 2rem;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 5rem 3rem;
    font-family: var(--fonte-principal);
}

.rodape__logo {
    margin-top: 5rem;
}


.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 2.5rem;
    gap: 16px;
}


.lista__link {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.link {
    color: var(--branco-principal);
}

.link:hover {
    text-decoration: underline;
}
.rodape__texto {
    font-family: var(--fonte-principal);
    font-size: 0.875rem;
    color: var(--cinza-secundario);
    margin: 1rem 0rem;
}